<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <a href="#">
        <img src="/logo-white.png" alt="Logo" />
      </a>
    </div>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/david-meneses-9b5157233/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Linkedin_icon.svg/1200px-Linkedin_icon.svg.png" alt="LinkedIn" class="footer-icon">
      </a>
      <a href="https://github.com/DvdMeneses" target="_blank">
        <img src="/github-mark-white.png" alt="GitHub" class="footer-icon">
      </a>
      <a href="mailto:David.menerses.cc@gmail.com">
        <img src="/logo-gmail.png" alt="Email" class="footer-icon">
      </a>
    </div>
    <p class="footer-text">David Meneses - Todos os direitos reservados</p>
  </div>
</footer>
