/* Style for the form */
.container-cadastro {
  align-items: center;
  display: flex;
  flex-wrap: wrap; /* Allows items to adjust to screen size */
  gap: 10px;
  justify-self: center;
  padding: 20px;
  width: 80%;
}

form {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  padding: 20px;
  width: 60%;
}

form div {
  display: flex;
  flex-direction: column;
}

form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
  outline: none;
  padding: 8px;
}

form input:focus {
  border-color: #6200ea;
}

form label {
  font-size: 14px;
  margin-bottom: 5px;
}

button[type="button"] {
  background-color: #ea0000;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

button[type="button"]:hover {
  background-color: #b30000;
}

button[type="submit"] {
  background-color: #6200ea;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:disabled {
  background-color: #bdbdbd;
  cursor: not-allowed;
}

button[type="submit"]:hover {
  background-color: #3700b3;
}

/* Style for the movie preview */
.filme-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.6s ease-in-out;
}

.filme-img {
  max-height: 600px;
  max-width: 400px;
  position: relative;
}

.filme-img img {
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  width: 100%;
}

.filme-card:hover .filme-img img {
  opacity: 0.6;
}

/* Adjustment for the play icon */
.play-overlay {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  z-index: 2;
}

.filme-card:hover .play-overlay {
  opacity: 1;
}

.play-overlay img {
  background-color: #000;
  border-radius: 100%;
  height: 60%;
  width: 60%;
}

/* Description and visibility */
.filme-info {
  background-color: rgba(72, 72, 94, 0.8);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  left: 0;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: -20px;
  text-align: start;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  visibility: hidden;
  word-wrap: break-word;
  z-index: 1;
  overflow: hidden;
}

.filme-card:hover .filme-info {
  opacity: 1;
  visibility: visible;
}

.filme-info h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
  white-space: normal;
}

.filme-info .description {
  color: #fff;
  font-size: 14px;
  white-space: normal;
  word-break: break-word;
}

.stars {
  color: orange;
  margin-top: 2px;
}

.stars fa-icon {
  margin-right: 2px;
}

/* Style for error message */
.error-message {
  background-color: #ffdddd;
  border-radius: 5px;
  color: #e74c3c;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 10px;
}

/* Style for smaller screens (responsiveness) */
@media (max-width: 768px) {
  .filme-card {
    width: 100%; /* Ensures the card occupies the full available width */
  }

  form {
    margin-top: 20px; /* Adds spacing above the form */
    width: 80%; /* Makes the form occupy a larger width */
  }
}
