<header class="header">
  <div class="logo">
    <a href="/">
      <img src="/logo-disco.png" alt="Imagem do Filme">
    </a>
  </div>
  <nav class="nav-menu">
    <ul class="menu-list">
      <li>
        <a href="/add">
          Adicionar
          <img src="/adicionar-filme.png" alt="Ícone de Adicionar">
        </a>
      </li>
      <li>
        <a href="/meusFilmes">
          Minha lista
          <img src="/lista-favoritos.png" alt="Ícone de Listar">
        </a>
      </li>
    </ul>
  </nav>
</header>
